@(formPlaneta: Form[Planeta])(conteudo: Html)
@import helper._
@main("Formulário Planetas") {
	<meta charset="UTF-8">
	
	<style>
		<!--
			.wrapper{
				
				width:46%;
				display:block;
				margin:0 auto;
				padding: 10%;
			
			}
		-->
	</style>
	
	<div class="wrapper">
		<h1>Formulário Planetas</h1>
		@helper.form(action = routes.Planetas.salvar()) {
			<fieldset>
			
			<legend>Planeta (@formPlaneta("nome").valueOr("Novo"))</legend>
			@helper.inputText(formPlaneta("Nome"), '_label -> "Nome")
			@helper.inputText(formPlaneta("Sistema"),'_label -> "Sistema")
			
			<input type="checkbox" name="habitavel" value="true" /> <span>Habitável? (marque se for habitável)</span>
			<input type="hidden" name="habitavel" value="false" />
			
			</fieldset>
			<input type="submit" class="btn btn-primary" value="Salvar">
			<a class="btn btn-success" href="@routes.Application.index()">Cancelar</a>
			<a class="btn btn-success" href="@routes.Application.index()">Homepage</a>
			<a class="btn btn-primary" href="@routes.Planetas.lista()">Lista de Planetas</a>
		}
		
	</div>	
	
}
